<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <a href="/item/new">Add new item</a>
  <%- include('partials/itemListTable') %>
</body>
</html>