<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <h1><%= title %></h1>
  <p>A simple inventory management app</p>
  <p>Built with NodeJS, Express, EJS, PostgreSQL</p>
  <p>Click the links below to play around</p>
  <h2><a href="/item">All Items</a></h2>
  <h2><a href="/category">All Categories</a></h2>
</body>
</html>